<?php
    header('Content-type: text/css; charset:UTF-8');
?>

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

.box{
  background: #600202;
  color: #fff;
  padding-top: 100px;
  overflow: auto;
}

.box input{
  width: 400px;
  border-bottom: 4px #F0B429 solid !important;
}

.box .btn{
  border: 2px #fff solid;
  color: #fff;
}

.box .btn:hover {
  background: #fff;
  color: #333;
}

.bottom{
  margin-top: 250px !important;
}

img:hover{
  opacity: 0.5;
}

.gallery{
  background: #fffdfd;
}

.gallery .row{
  margin-bottom: 0px !important;
}

.gallery img{
  width: 200px;
}

.btmt{
  display: none;
}

.im{
  margin-top: 250px;
}

.im-2{
  margin-top: 120px;
}

.im-4{
  margin-left: 15px;
  margin-top: 25px;
}

.im-5{
  margin-top: -120px;
}

.im-6{
  margin-top: -230px;
}

.modal-body{
  background: #333;
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .box{
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .box .btn{
    width: 300px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .box .bottom{
    display: none;
  }

  .gallery{
    background: #f9f9f9;
  }

  .gallery img{
    display: block;
    padding: 10px;
    margin: auto;
  }
  
  .gallery .im{
    margin-top: 0;
  }

  .gallery .im-2{
    margin-top: 0;
  }

  .gallery .im-3{
    margin-top: 0;
  }

  .gallery .im-4{
    margin-top: 0;
  }

  .gallery .im-5{
    margin-top: 0;
  }

  .gallery .im-6{
    margin-top: 0;
  }

  .btmt{
    display: block;
  }
}